
.privacy-policy {
    display: block;
    justify-content: center;
}

.privacy-policy h2 {
    text-align: center; 
    font-family: sans-serif;
    font-size: 2rem;  
}

.privacy-policy p {
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 2rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}