<main class="grid-item">

    <h2 class="grid-item-one">Welcome to Articles Website</h2>

    <span class="grid-item-two">The place where you can create stories and share them with others</span>

    <div class="grid-item-getting-started">

        <p> To add, edit or delete posts you must create an account</p>

        <a routerLink="/register" class="register-redirect">Create an account</a>
    </div>

    <div class="grid-item-browse-collection">

        <p>To view the collection click the link below</p>

        <a routerLink="/articles" class="view-collection">View articles</a>

    </div>

</main>
