<form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">

    <h2> Login </h2>

    <label for="email">E-mail: </label>

    <input id="email" type="email" name="email" ngModel required #emailInput="ngModel" [appEmail]="emailDomains">

    <div *ngIf="emailInput.touched">

    <p class="error-msg" *ngIf="emailInput.errors?.['required']"> Email is required! </p>
    <p class="error-msg" *ngIf="emailInput.errors?.['emailValidator']"> Email is not valid! </p>

    </div>

    <label for="password">Password: </label>

    <input id="password" type="password" name="password" ngModel required #passwordInput="ngModel" [appMaxCount]="11" minlength="4">

    <div *ngIf="passwordInput.touched">

        <p class="error-msg" *ngIf="passwordInput.errors?.['minlength']">Password is less than 4 characters long</p>
        <p class="error-msg" *ngIf="passwordInput.errors?.['required']">Password is required!</p>
        <p class="error-msg" *ngIf="passwordInput.errors?.['appMaxCount']">Password must be less than 11 characters long</p>
        
    </div>
        <!-- <div *ngIf="!user">
            <p class="error-msg" >User not found</p>
        </div> -->
    
    <button [disabled]="loginForm.invalid">Login</button>

</form>

